option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
    NumProcesses: 1
    NumThreads: 1
  aws:autoscaling:asg:
    Custom Availability Zones: 'us-east-1a,us-east-1b'
    Cooldown: '720'
    MaxSize: '4'
    MinSize: '4'
    EnableCapacityRebalancing: true
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce